.titulo{
    display: flex;
    margin-top: 100px;
    margin-left: 40%;
}

  .gridContainer {
    display: grid;
    grid-template-columns: 3fr;
    grid-gap: 5px;
    font-family: Poppins;
  }

  .inputTipoProduto {
    display: flex;
    border: solid 3px;
    border-radius: 3px;
    border-color:#01B8C2;
    font-family: Poppins;
    font-size: 20px;
    margin-top: 5px;
    height: 40px;
    width: 247px;
    align-items: center;
    text-align: center;
  }
  .inputProduto {
    display: flex;
    border: solid 3px;
    border-radius: 3px;
    border-color:#01B8C2;
    font-family: Poppins;
    font-size: 20px;
    margin-top: 5px;
    height: 40px;
    align-items: center;
    text-align: center;
  }

  .inputDescricao {
    display: flex;
    border: solid 3px;
    border-radius: 3px;
    border-color:#01B8C2;
    font-family: Poppins;
    font-size: 20px;
    margin-top: 5px;
    height: 60px;
    width: 247px;
    align-items: center;
    text-align: center;
  }

  .selecDosagem {
    display: flex;
    border: solid 3px;
    border-radius: 3px;
    border-color:#01B8C2;
    font-family: Poppins;
    font-size: 20px;
    margin-top: 5px;
    height: 40px;
    width: 247px;
    align-items: center;
    text-align: center;
  }

  .inputImagem {
    display: flex;
    font-family: Poppins;
    font-size: 20px;
    margin-top: 5px;
    height: 40px;
    width: 247px;
    align-items: center;
    text-align: center;
  }

  .grupo1 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 100px;
    
   
  }

  .grupo2{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: -206px;
    margin-left: 495px;
  }

  .grupo3 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: -223px;
    margin-left: 880px;
  }

  .buttonProdutos {
    display: flex;
    justify-content: center;
    font-size: 20px;
    border-color:#01B8C2;
    background-color: #01B8C2;
    font-family: Poppins;
    color: #fff;
    margin-top: 60px;
    margin-left: 43%;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
