* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

h1.titulo {
  text-align: center;
  color: var(--info);
}
a,
label {
  font-size: 0.9rem;
  justify-items: center;
  justify-content: center;
  text-align: center;
}
a:hover {
  color: var(--info);
}

login-container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: var(--info);
}

label,
input {
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 0.5rem;
  text-align: left;
  color: var(--info);
}

.label {
  margin-top: 20px;
}

input {
  border-bottom: 2px solid #323232;
  padding: 1px;
  font-size: 1rem;
  border-bottom: 2px solid var(--info);
}

input[type="submit"] {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  color: var(--white);
  background-color: var(--info);
  cursor: pointer;
  width: 120px;
  height: 40px;
}

.input[type="submit"]:hover {
  background-color: var(--primary);
  transition: 5s;
}

.icons {
  margin-left: 10px;
  color: var(--info);
}
.register-container {
  margin-bottom: 10px;
  text-align: center;
  color: var(--info);
}
